.violao{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #F3FBFD;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

    .valor section{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

.violao article{
    position: relative;
    width: 80%;
    height: auto;
    background-color: #F9FBFA;
    text-align: center;
    border-radius: 10px;
}

.violao article img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.valor{
    font-weight: bold;
    color: #BD1826;
}